.carouselContainer {
  width: 100%;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.customCarousel .carousel .slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselSlide {
  position: relative;
}

.carouselImage {
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
  height: auto;
}
