.carouselContainer {
  width: 100%;
  margin: auto;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.customCarousel .carousel .slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carouselSlide {
  position: relative;
}

.carouselImage {
  object-fit: cover;
  width: 100%;
  max-height: 550px; /* Limita la altura máxima para evitar que crezca demasiado */
}

