.navbar {
  background-color: #e4e2dd;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

.navContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.logo {
  flex-shrink: 0;
}

.logoLink {
  font-size: 1.8rem;
  font-weight: lighter;
  color: black;
  text-decoration: none;
}

.desktopMenu {
  display: none;
}

.actions {
  display: flex;
  align-items: center;
}

.cartButton {
  color: #4b5563;
  transition: color 0.3s;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
}

.cartButton:hover {
  color: #111827;
}

.cartIcon {
  width: 1.5rem;
  height: 1.5rem;
}

.cartBadge {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  background-color: var(--color-primary);
  color: white;
  border-radius: 9999px;
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
}

.mobileMenuButton {
  margin-left: 0.75rem;
}

.menuToggle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 0.375rem;
  color: #9ca3af;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menuToggle:hover {
  color: #6b7280;
  background-color: #f3f4f6;
}

.menuIcon {
  width: 1.5rem;
  height: 1.5rem;
}

.mobileMenu {
  display: block;
}

.mobileMenuContent {
  padding: 0.5rem;
}

.navLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  border-bottom: 2px solid transparent;
  font-size: 0.875rem;
  font-weight: 500;
  color: #6b7280;
  text-decoration: none;
  transition: color 0.3s, border-color 0.3s;
}

.navLink:hover {
  color: #111827;
  border-color: black;
}

.mobileNavLink {
  display: block;
  display: flex;
  justify-content: center;
  padding: 0.75rem;
  border-radius: 0.375rem;
  font-size: 1rem;
  font-weight: 500;
  color: #4b5563;
  text-decoration: none;
}

.mobileNavLink:hover {
  color: #111827;
  background-color: #f3f4f6;
}

@media (min-width: 640px) {
  .desktopMenu {
    display: flex;
    margin-left: 1.5rem;
    gap: 2rem;
  }

  .mobileMenuButton {
    display: none;
  }

  .mobileMenu {
    display: none;
  }
}

